<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="1.5.8.0" targetFramework="net4" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net4" />
  <package id="MSBuildTasks" version="1.4.0.74" targetFramework="net4" />
  <package id="N2CMS.Library" version="2.9.6.1" targetFramework="net452" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net452" />
</packages>